* {
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
  height:100%;

  background-color: #fed439ff;
}
.container{
    display: grid;
    min-height: 100%;
    grid-template-columns: 0fr 0fr 2fr;
    grid-auto-rows: minmax(200px,auto);
    grid-template-areas:
    "header header header header header"
    ". main main main sidebar"
    "footer footer footer footer footer";
}
header{
    grid-area:header;
    font-size: 5em;
}

.main{
  grid-area: main;
  font-size: 2em;
}
footer{
    grid-area: footer;
    background-color: white;
    margin-top: 10em;
    font-size:2em;
}
footer:hover{
background-color:  #fed439ff;
}
.sidebar{
    grid-area: sidebar;
    font-size: 2em;
}